<div class="col-md-4 offset-md-4">
    <form>
        <div class="card">
            <div class="card-header">
                <h4>Login</h4>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email</span>

                </div>
                <input type="email" name="email" id="email" class="form-control" formControlNae='email' >
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Password</span>

                </div>
                <input type="password" name="password" id="password" class="form-control" formControlNae='password'>
            </div>
        
        <div class="card-footer">
            <button class="btn btn-outline-primary float-right"
            type="submit">Submit</button>
        </div>

        </div>
    </form>
</div>